*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(download\ \(3\).jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    background-color: rgba(243, 245, 244, 0.033);
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 10px 6px;
    height:90vh;
    width: 95vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 7%;
    box-sizing: border-box;
    gap: 1em;
     overflow: hidden;
    
}
p{
  font-size: 0.9rem;
 color: aliceblue;
 animation: anime 1s ;
 overflow: hidden;
}
h1{  
  font-family: initial;
  font-style:italic;
  font-size: 3rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right,white,gold);
  -webkit-background-clip: text;
  text-shadow:0 0 60px rgb(251, 248, 248);
  animation: anime 1s infinite alternate ;
}
h2{
    font-family: initial;
  font-style:italic;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right,white,gold);
  -webkit-background-clip: text;
  text-shadow:0 0 60px rgb(251, 248, 248);
   animation: anime 1s infinite alternate ;
}
h3{
      font-family: initial;
  font-style:italic;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right,white,gold);
  -webkit-background-clip: text;
  text-shadow:0 0 60px rgb(251, 248, 248);
   animation: anime 1s infinite alternate ;
}
.dates{
    width: 300px;
    height: 600px;
    border-radius: 50px;
    background-color: rgba(243, 245, 244, 0.367);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 5px 4px;
     animation:anime 1s  ;
     transition:100ms ease ;
}
@keyframes anime {
100%{
     text-shadow: 0 0  rgba(255, 217, 0, 0.549);
}
100%{
    transform:translateX(50px) ;
}
}
@media (min-width:786px) {
    .dates{
width: 300px;
height: 550px;
    }
h1{font-size: 2rem;}
.hero{ box-sizing: border-box;
padding: 1em;}
}

@media (max-width:786px) {
    .dates{
width: 250px;
height: 550px;
    }
h1{font-size: 1.5rem;}
.hero{ box-sizing: border-box;
    padding: 1em;
}
}
@media (max-width:550px) {
    .dates{
width: 200px;
height: 400px;
    }
h1{font-size: 1.5rem;
}
h2{
  font-size: 1.3rem;  
}
.hero{ box-sizing: border-box;
    overflow: hidden;
    padding: 1em;
}
p{
    font-size: 0.9rem;
}
}

@media (max-width:478px) {
.hero{
    display: flex;
    flex-direction:column ;
}
.dates{
width: 250px;
height: 200px;
    }
}
@media (max-width:350px) {
.hero{
    display: flex;
    flex-direction:column ;
    padding: 1em;
}
.dates{
width: 250px;
height: 130px;
    }
    h1{font-size: 1.2rem;
}
h2{
  font-size: 1.3rem;  
}
.hero{ box-sizing: border-box;
    overflow: hidden;
}
p{
    font-size: 0.9rem;
}
}